.header {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  width: 1296px;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-family: Quicksand;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #000;
}
.header__btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 98px;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
  background-color: #0f8277;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  color: #eee;
}
.header__btn::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: #eee;
  transform: rotate(133deg);
  margin-left: 4px;
}

.header__nav {
  width: 249px;
  display: flex;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  justify-content: space-between;
  align-items: center;
}
.header__nav-item {
  color: #000;
}
.header__btn--log-sign {
  width: 168px;
}

.header__search-container {
  display: flex;
  height: 36px;
  padding: 0px 0px 0px 12px;
  border-radius: 4px;
  border: solid 1px #5c5c5c;
}

.header__search-input {
  width: 330px;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #5c5c5c;
  border: none;
}

.header__btn--log-sign {
  display: flex;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  align-items: center;
  justify-content: space-between;
  width: 168px;
}
.header__btn--sign {
  background-color: #0f8277;
  width: 81px;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
  text-align: center;
  color: #eee;
}
.header__btn--log {
  width: 71px;
  padding: 10px 12px 10px 12px;
  text-align: center;
  color: #0f8277;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main__container {
  flex-direction: column;
}
.main__inform {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 1296px;
  height: 602px;
  border-radius: 12px;
  background-color: #dbf3ed;
  justify-content: space-around;
}
.main__inform--img {
  background-image: url(images/hero-img.png);
  background-repeat: no-repeat;
  width: 526px;
  height: 533px;
}
.main__inform--text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 512px;
  height: 248px;
}
.main__inform--header {
  font-family: Quicksand;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
.main__inform--article {
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}
.main__inform--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 271px;
}
.main__inform--container-btn {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
.main__inform--btn {
  width: 108px;
  height: 19px;
  padding: 10px 12px 10px 12px;
  background-color: #0f8277;
  border-radius: 4px;
}
.main__inform--btn-border {
  width: 91px;
  height: 19px;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
  border: 2px solid #0f8277;
}

.main__category {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.main__programs--card {
  display: flex;
  flex-direction: row;
  gap: 24px;
  height: 480px;
}
.main__subj {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #0f8277;
}
.main__header {
  font-family: Quicksand;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.main__article {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.card-item {
  display: flex;
  position: absolute;
  width: 416px;
  height: 480px;
  border: 1px solid #dadada;
  border-radius: 8px;
}
.card-item__container {
  display: flex;
  flex-direction: column;
}
.card-name__container {
  display: flex;
  gap: 12px;
}
.card-img-danit {
  background-image: url(images/academic-training/image-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 416px;
  height: 270px;
  border-radius: 8px;
}

.card-img-university {
  background-image: url(images/academic-training/image-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 416px;
  height: 270px;
  border-radius: 8px;
}

.card-img-projector {
  background-image: url(images/academic-training/image-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 416px;
  height: 270px;
  border-radius: 8px;
}
.card-discr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
  padding: 24px 16px 24px 16px;
}
.card-artc {
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.card-name {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.card-name-danit {
  background-image: url(images/svg/dan-logo\ 1.svg);
  width: 72px;
  height: 20px;
}
.card-name-university {
  background-image: url(images/svg/eu_logo.svg);
  width: 18.15px;
  height: 20px;
}
.card-name-projector {
  background-image: url(images/svg/logo-prjctr.svg);
  width: 46.23px;
  height: 20px;
}
.card-btn__img {
  background-image: url(images/svg/cds-react-aria-9.svg);
  width: 20px;
  height: 20px;
}
.card-discr__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card-btn {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #0f8277;
}
.card-btn__container {
  display: flex;
  gap: 12px;
}
.card-item__courses {
  border: none;
  width: 306px;
}
.card-img--courses {
  width: 306px;
  height: 270px;
  border-radius: 8px;
}
.card-item__container--courses {
  width: 306px;
  height: 480px;
  border: 1px solid #dadada;
  border-radius: 8px;
}
.card-img-design {
  background-image: url(images/popular-courses/image-1.png);
  background-size: cover;
}
.card-img-fullstak {
  background-image: url(images/popular-courses/image-2.png);
  background-size: cover;
}
.card-img-qa {
  background-image: url(images/popular-courses/image-3.png);
  background-size: cover;
}
.card-img-smm {
  background-image: url(images/popular-courses/image-4.png);
  background-size: cover;
}
.main__courses--card {
  display: flex;
  gap: 24px;
}
.main__category--btn {
  display: flex;
  justify-content: center;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #0f8277;
}
.main__category--options {
  display: flex;
  width: 1296px;
  height: 284px;
  justify-content: space-between;
}
.option__header {
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.option__item--header {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #0f8277;
}
.option__item--amount {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.main__category--block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__companies {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 382px;
  align-items: center;
  background-color: #dbf3ed;
  justify-content: center;
}
.main__companies--block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main__companies--header {
  text-align: center;
}
.main__container--companies {
  gap: 60px;
}

.main__container--busines {
  display: flex;
}
.main__busines-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.main__busines-section--header {
  display: flex;
  width: 636px;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
}
.main__busines-section--p {
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}

.main__busines-section--btn {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  width: 131px;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
  color: #eee;
  background-color: #0f8277;
  text-align: center;
}
.main__busines-section--block {
  display: flex;
  width: 590px;
  height: 414px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.business-section--img {
  display: flex;
  width: 196px;
  height: 136px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.business-section--img-1 {
  background-image: url(images/buisness-section/image-1.png);
  background-size: cover;
  width: 150px;
  height: 27px;
}
.business-section--img-2 {
  background-image: url(images/buisness-section/image-2.png);
  background-size: cover;
  width: 62px;
  height: 62px;
}
.business-section--img-3 {
  background-image: url(images/buisness-section/image-3.png);
  background-size: cover;
  width: 111px;
  height: 80px;
}

.business-section--img-4 {
  background-image: url(images/buisness-section/image-4.png);
  background-size: cover;
  width: 150px;
  height: 48px;
}

.business-section--img-5 {
  background-image: url(images/buisness-section/image-5.png);
  background-size: cover;
  width: 63px;
  height: 57px;
}
.business-section--img-6 {
  background-image: url(images/buisness-section/image-6.png);
  background-size: cover;
  width: 151px;
  height: 42px;
}
.business-section--img-7 {
  background-image: url(images/buisness-section/image-7.png);
  background-size: cover;
  width: 150px;
  height: 34px;
}
.business-section--img-8 {
  background-image: url(images/buisness-section/image-8.png);
  background-size: cover;
  width: 61px;
  height: 60px;
}
.business-section--img-9 {
  background-image: url(images/buisness-section/image-9.png);
  background-size: cover;
  width: 150px;
  height: 29px;
}
.img--border-1 {
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #bababa;
}
.img--border-2 {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #bababa;
}
.img--border-3 {
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #bababa;
}
.main__price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 416px;
  height: 698px;
  border-radius: 24px;
  border: 1px solid #0f8277;
  gap: 27px;
}
.main__price-card--color {
  background-color: #fdfdfd;
}
.main__price-card--coloranother {
  background-color: #0f8277;
}

.main__price--header {
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.main__price--header-color {
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #fff;
}
.main__price--article {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.main__price--article-color {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
}
.main__price {
  display: flex;
  justify-content: center;
  background-color: #dbf3ed;
  width: 100%;
  align-content: center;
  flex-wrap: wrap;
  font-family: Quicksand;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  height: 966px;
}
.main__price--color {
  display: flex;
  justify-content: center;
  color: #fff;
  align-content: center;
  flex-wrap: wrap;
}
.main__price--container {
  width: 1296px;
  height: 786px;
  gap: 40px;
}
.main__price-card--container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main__price--price {
  display: flex;
  font-family: Quicksand;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.main__price--btn {
  width: 119px;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
  background-color: #0f8277;
  color: #eee;
  font-family: Cabin;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: center;
}
.main__price--btnColor {
  border: 1px solid #fff;
}
.main__price-span {
  display: flex;
  align-items: center;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-transform: uppercase;
}
.main__price--block-price {
  display: flex;
  flex-direction: column;
  width: 304px;
  height: 334px;
  gap: 27px;
  align-items: center;
  border: 1px solid #fff;
  border-bottom-color: #0f8277;
}

.main__price--block-priceColor {
  display: flex;
  flex-direction: column;
  width: 304px;
  height: 334px;
  gap: 27px;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.main__price--items {
  width: 264px;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.main__price--p {
  width: 264px;
}
.main__price--p::before {
  content: "\2713";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 17px;
  margin-right: 5px;
  background-color: #0f8277;
  color: #ffffff;
}
.main__price--p-color::before {
  content: "\2713";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 17px;
  margin-right: 5px;
  background-color: #fff;
  color: #0f8277;
}
.main__container--students {
  width: 1, 296px;
  height: 766.5px;
  left: 36px;
  gap: 40px;
}
.students__header {
  font-family: Quicksand;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.students__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 1296px;
  height: 678.5px;
}
.students__block-img {
  width: 306px;
  height: 210.5px;
}

.students__block-img9 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 636px;
  height: 445px;
}
.main__form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/image32.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 726px;
  width: 100%;
}
.main__form--label {
  width: 565px;
  height: 614px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #dbf3ed;
  border-radius: 24px;
}
.label__header {
  font-family: Quicksand;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.label__articl {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.label__input--name {
  display: flex;
  flex-direction: column;
  width: 505px;
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  gap: 8px;
}
.label__input {
  width: 505px;
  height: 48px;
}
.label__textarea {
  width: 505px;
  height: 104px;
}
.label__btn {
  width: 196px;
  height: 42px;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
  background: #0f8277;
  border: none;
  font-family: Cabin;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: #fff;
}
.wrapper__label-btn {
  display: flex;
  justify-content: flex-start;
  width: 505px;
}
.footer {
  display: flex;
  justify-content: center;
  height: 239px;
}
.footer__articl {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.footer__social {
  display: flex;
  flex-direction: column;
}
.footer__svg {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}
